@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraBGwCYdA.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraaGwCYdA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcrabGwCYdA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v7/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.svg{width: 19px}
body {
  padding: 0;
  margin: 0;
  font-family: Kanit;
  background-color: #f2f2f5 !important;
}

p, h1, h2, h3, h4, h5, h6, span {
  font-family: Kanit;
}


* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(98, 54, 255, 0.55) !important;
  border-radius: 8px !important;
}

::-webkit-scrollbar-track {
  box-shadow: rgb(255 255 255) 0px 0px 20px inset !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
}

#root {
  position: relative;
  width: 100%;
}

.card-shadow {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
    rgb(25 19 38 / 5%) 0px 1px 1px;
  color: rgb(32, 13, 97);
  overflow: hidden;

  position: relative;
}

.card-shadow>div {
  padding: 24px;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.title2 {
  font-size: 24px;
  font-weight: 600;
}

.c-purple {
  color: rgb(118, 69, 217);
}

.c-white {
  color: white;
}

.backmenu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(69, 42, 122);
  transition: opacity 0.4s ease 0s;
  opacity: 0.6;
  z-index: 10;
  pointer-events: initial;
  transition: all 0.5s ease-in;
}

.c {
  margin: 0 20px;
}

.my-modal {
  z-index: 100;
  position: fixed;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 320px;
}

.my-modal .content {
  overflow: hidden;
  max-height: 100vh;
  background: rgb(255, 255, 255);
  box-shadow: rgb(14 14 44 / 10%) 0px 20px 36px -8px, rgb(0 0 0 / 5%) 0px 1px 1px;
  border: 1px solid rgb(231, 227, 235);
  border-radius: 32px;
}

.my-modal .content a.wallet {
  margin-bottom: 24px;
  font-size: 14px;
  color: rgb(98, 54, 255);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: block;
}

.my-modal .content>p {
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid rgb(231, 227, 235);
  display: flex;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
}

.my-modal .content>div.wallet-select {
  padding: 24px;
}

.my-modal .content>div>div.wallet {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: space-between;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: rgb(237, 235, 241);
  box-shadow: none;
  color: rgb(98, 54, 255);
  width: 100%;
  margin-bottom: 8px;
}

.my-modal .stack {
  padding: 24px;
  padding-top: 0;
}
  .my-modal .stack>div>div {
  display: flex;
  margin: 7px 0;
  align-items: center;
  justify-content: space-between;
}
.my-modal .stack>div>div p {
  font-size: 13px;
  font-weight: 600;
}
.stack .max {
  background: rgb(118, 69, 217);
    border-radius: 50px;
    padding: 7px 10px;
    color: white;
}
.stack > p {
  font-weight: 600;
}
.stack button {
  height: auto;
  width: auto;
  padding: 13px 25px;
  border-radius: 50px;

}
.stack button:not(.disable) {
  border:2px solid rgb(118, 69, 217);
  background-color: transparent;
  color: rgb(118, 69, 217);
}
.stack button.disable{
  color:#8c8c8c;
  cursor: no-drop;
}
.stack a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(118, 69, 217);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
.stack div:first-child {
  background-color: #f2f2f5;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}